@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

/* HEADER */
header {
    background-color: #4495b5;
    padding: 30px 0px 25px 140px;
    margin-bottom: 40px;
}

.head h1 {
    color: #ffff;
    margin-bottom: 10px;
    font-weight: 600;
}

.nav ul li a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

/* CONTENT-1 */

h2 {
    color: #4495b5;
    font-weight: 500;
}

.content-1 {
    padding: 30px 0px 25px 140px;
    margin-bottom: 40px;
}

.image {
    margin: 20px 0px 20px 0px;
}

.image img {
    height: 350px;
    width: 350px;
}

.content-1 ul li {
    list-style: none;
}

/* CONTENT-2 */

.content-2 {
    padding: 30px 0px 25px 140px;
    margin-bottom: 40px;
}

.image {
    margin: 20px 0px 20px 0px;
}

.image img {
    height: 350px;
    width: 350px;
}

.content-2 ul li {
    list-style: none;
}

/* CONTENT-3 */
.content-3 {
    padding: 30px 0px 25px 140px;
    margin-bottom: 40px;
}

.image {
    margin: 20px 0px 20px 0px;
}

.image img {
    height: 350px;
    width: 350px;
}

.content-3 ul li {
    list-style: none;
}


/* CONTENT-4 */
.content-4 {
    padding: 30px 0px 25px 140px;
    margin-bottom: 40px;
}

.image {
    margin: 20px 0px 20px 0px;
}

.image img {
    height: 350px;
    width: 350px;
}

.content-4 ul li {
    list-style: none;
}

/* CONTENT-5 */
.content-5 {
    padding: 30px 0px 25px 140px;
    margin-bottom: 40px;
}

.image {
    margin: 20px 0px 20px 0px;
}

.image img {
    height: 350px;
    width: 350px;
}

.content-5 ul li {
    list-style: none;
}

/* CONTENT-6 */
.content-6 {
    padding: 30px 0px 25px 140px;
    margin-bottom: 40px;
}

.image {
    margin: 20px 0px 20px 0px;
}

.image img {
    height: 350px;
    width: 350px;
}

.content-6 ul li {
    list-style: none;
}

/* CONTENT-7 */
.content-7 {
    padding: 30px 0px 25px 140px;
    margin-bottom: 40px;
}

.image {
    margin: 20px 0px 20px 0px;
}

.image img {
    height: 350px;
    width: 350px;
}

.content-7 ul li {
    list-style: none;
}

/* FOOTER */

footer {
    background-color: #282828;
    color: white;
    padding: 30px;
    text-align: center;
}

.pic {
    display: inline-block;
}

.picture {
    display: inline-block;
}

.img {
    display: inline-block;
}

.pic img {
    height: 50px;
    width: 50px;
    text-align: center;
}

.picture img {
    height: 50px;
    width: 50px;
    text-align: center;
}

.img img {
    height: 50px;
    width: 50px;
    text-align: center;
}

.images {
    margin: 20px 0 10px 0;
}